.cards {
    display: inline-block;
    margin: 2rem;
    text-align: left;
}

.card {
    margin: 0.5rem;
    width: 17rem;
    height: 16rem;
    box-shadow: 2px 2px 2px 2px gray;
    display: inline-block;
    font-size: 0.5rem;
}