.main {
    text-align: center;
}

.intwition-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.input {
    padding: 20px;
}

.simple-cloud .tag-cloud-tag {
    cursor: pointer;
}


.component {
    border-radius: 1rem;
    border: solid #4665EC;
    box-shadow: 3px 3px 3px 3px gray;
    margin: 1rem;
}