.main {
    text-align: center;
}

.intwition-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.input {
    padding: 20px;
}

.simple-cloud .tag-cloud-tag {
    cursor: pointer;
}

.component {
    border-radius: 0.5rem;
    border: solid #4665EC;
    box-shadow: 4px 4px 4px rgba(105, 130, 239, .5);
    margin: 1rem;
}